---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@font-face{
    font-family: 'Source Sans 3 VF';
    font-weight: 200 900;
    font-style: normal;
    font-stretch: normal;
    src: url('WOFF2/VAR/SourceSans3VF-Roman.ttf.woff2') format('woff2'),
         url('WOFF/VAR/SourceSans3VF-Roman.ttf.woff') format('woff'),
         url('VAR/SourceSans3VF-Roman.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans 3 VF';
    font-weight: 200 900;
    font-style: italic;
    font-stretch: normal;
    src: url('WOFF2/VAR/SourceSans3VF-Italic.ttf.woff2') format('woff2'),
         url('WOFF/VAR/SourceSans3VF-Italic.ttf.woff') format('woff'),
         url('VAR/SourceSans3VF-Italic.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Serif VF';
    font-weight: 200 900;
    font-style: normal;
    font-stretch: normal;
    src: url('./WOFF2/VAR/SourceSerif4Variable-Roman.ttf.woff2') format('woff2'),
         url('./WOFF/VAR/SourceSerif4Variable-Roman.ttf.woff') format('woff'),
         url('./VAR/SourceSerif4Variable-Roman.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Serif VF';
    font-weight: 200 900;
    font-style: italic;
    font-stretch: normal;
    src: url('./WOFF2/VAR/SourceSerif4Variable-Italic.ttf.woff2') format('woff2'),
         url('./WOFF/VAR/SourceSerif4Variable-Italic.ttf.woff') format('woff'),
         url('./VAR/SourceSerif4Variable-Italic.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Code Variable';
    font-weight: 200 900;
    font-style: normal;
    font-stretch: normal;
    src: url('./WOFF2/VAR/SourceCodeVariable-Roman.ttf.woff2') format('woff2'),
         url('./WOFF/VAR/SourceCodeVariable-Roman.ttf.woff') format('woff'),
         url('./VAR/SourceCodeVariable-Roman.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Code Variable';
    font-weight: 200 900;
    font-style: italic;
    font-stretch: normal;
    src: url('./WOFF2/VAR/SourceCodeVariable-Italic.ttf.woff2') format('woff2'),
         url('./WOFF/VAR/SourceCodeVariable-Italic.ttf.woff') format('woff'),
         url('./VAR/SourceCodeVariable-Italic.ttf') format('truetype');
}

/* custom typefaces */
$serif: 'Source Serif VF', serif !default;
$sans-serif: 'Source Sans 3 VF', sans-serif !default;
$monospace: 'Source Code Variable', monospace !default;

/* sans serif typefaces */
$sans-serif-narrow: $sans-serif !default;
$helvetica: Helvetica, "Helvetica Neue", Arial, sans-serif !default;

/* change global typefaces */
$global-font-family: $sans-serif !default;
$header-font-family: $sans-serif !default;
$longtext-font-family: $serif !default;
$caption-font-family: $sans-serif !default;

/* opentype features */
body {
  font-variant-numeric: oldstyle-nums, proportional-nums;
  -moz-font-feature-settings: "onum", "pnum";
  -webkit-font-feature-settings: "onum", "pnum";
  font-feature-settings: "onum", "pnum";
}

/* serif font in long-form (content) text */
.long__text {
    font-family: $longtext-font-family;
}

/* sharing colours */
$reddit-color: #ff4500 !default;

/* syntax highlighting in Solarized Dark */
// $base00: #002b36 !default;
// $base01: #073642 !default;
// $base02: #586e75 !default;
// $base03: #657b83 !default;
// $base04: #839496 !default;
// $base05: #93a1a1 !default;
// $base06: #eee8d5 !default;
// $base07: #fdf6e3 !default;
// $base08: #b58900 !default;
// $base09: #6c71c4 !default;
// $base0a: #dc322f !default;
// $base0b: #2aa198 !default;
// $base0c: #cb4b16 !default;
// $base0d: #268bd2 !default;
// $base0e: #d33682 !default;
// $base0f: #859900 !default;
/* solarized light syntax highlighting (base16) */
$base00: #fafafa !default;
$base01: #073642 !default;
$base02: #586e75 !default;
$base03: #657b83 !default;
$base04: #839496 !default;
$base05: #586e75 !default;
$base06: #eee8d5 !default;
$base07: #fdf6e3 !default;
$base08: #dc322f !default;
$base09: #cb4b16 !default;
$base0a: #b58900 !default;
$base0b: #859900 !default;
$base0c: #2aa198 !default;
$base0d: #268bd2 !default;
$base0e: #6c71c4 !default;
$base0f: #d33682 !default;


@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
@import "minimal-mistakes/buttons.scss";
@import "academicons.css";

kbd {
    border: 1px solid #666666;
    border-radius: 4px;
    padding: 3px 5px;
    margin: 2px;
    color: #dfdfdf;
    background-color: #444444;
    text-decoration: none;
}
