---
layout: archive
---
{% assign cvInYear = site.cv | group_by_exp: 'pos', 'pos.end-date | date: "%Y" | replace: "Present", "2030"' | sort: 'name' | reverse %}

{{ content }}

<h2>Curriculum Vitae</h2>

<ul class="taxonomy__index">
  {% for year in cvInYear %}
    <li>
      <a href="#{{ year.name | replace: '2030', 'Present' }}">
        <strong>{{ year.name | replace: '2030', 'Present' }}</strong> <span class="taxonomy__count">{{ year.items | size }}</span>
      </a>
    </li>
  {% endfor %}
</ul>

{% for year in cvInYear %}
  <section id="{{ year.name | replace: '2030', 'Present' }}" class="taxonomy__section">
    <h2 class="archive__subtitle">{{ year.name | replace: '2030', 'Present' }}</h2>
    <div class="entries-{{ page.entries_layout | default: 'list' }}">
      {% assign revYearItems = year.items | sort: "end-date" | reverse %}
      {% for post in revYearItems %}
        {% include cv-single.html type=entries_layout %}
      {% endfor %}
    </div>
    <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
  </section>
{% endfor %}

