---
layout: single
---

{% if page.pub-type == "paper" or page.pub-type == "book" %}
  <p class="notice--info">
    <em>Citation:</em>
    {{ page.pub-authors }}
    {{ page.end-date | date: "%Y" }}
    {{ page.title | markdownify | remove: '<p>' | remove: '</p>' | rstrip }}.
    {% if page.chapter %}
      Ch. {{ page.chapter }}.
    {% endif %}
    {% if page.pub-type == "book" and page.pages %}
      {{ page.pages | rstrip }}.
    {% endif %}
    {% if page.editors %}
      In {{ page.editors }}
    {% endif %}
    <em>{{ page.institution | rstrip }}</em>
    {% if page.volume %}
      <b>{{ page.volume | rstrip }}</b>:
    {% endif %}
    {% if page.pub-type == "paper" and page.pages %}
      {{ page.pages | rstrip }}
    {% endif %}
    {% if page.doi %}
      doi:<a href="https://doi.org/{{ page.doi }}">{{ page.doi }}</a>
    {% endif %}
    {% if page.isbn %}
      <font style="font-feature-settings: 'c2sc'">ISBN</font>:{{ page.isbn }}
    {% endif %}
  </p>
{% endif %}

{{ content }}
